*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
li, a, button{
    font-size: 16px;
    color: rgb(255, 255, 255);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}
.logo{
    cursor: pointer;
}
.links{
    list-style: none;
}
.links li{
    display: inline-block;
    padding: 0px 20px;
}
.links li a{
    transition: all 0.3s ease 0s;
    margin: 70px;
    text-decoration: none
}
.links li a:hover{
    color: rgb(187, 170, 223);
}
button{
    padding: 9px 25px;
    background-color: #8d52b4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    height: 55px;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: #866993;
}
body{
    background-color: #19161a;
}
.page1{
    background-color: rgb(161, 143, 200);
    padding: 0px 20px;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius:25px;
}
.page2 img{
    margin-left: 30%;
}
.page1 h1{
    height: 2ex;
    margin-left: 50%;
    font-size: 3em;
    font-family:"Alfa Slab One";
}
.page1 p{
    font-size: 2em;
    margin-left: 45%;
    font-family:Comic Sans MS;
}